body, html {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #EDA547;
  font-size: 1em;
}

.logo {
  margin-left: 2em;
  margin-top: 2em;
}

nav {
  margin-top: 5em;
  margin-left: 5em;
  margin-right: 3em;
}

a#user {
  display: inline-block;
  padding-left: 0;
}