body, html {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #EDA547
}

.fullpage {
  width: 100%;
  height: 100%;
  padding-top: 10em;
  margin-bottom: 0;
  background-color: #EDA547;
}

form {
  margin: 0 auto;
  margin-top: 1em;
}

.first-ele {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.second-ele {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-control {
  margin: 0 auto;
  padding: 1.2em;
  font-size: 1.2em;
  width: 20%;
  text-align: center;
}

button {
  margin-top: 1.8em;
}

#invalid-login, #empty-login {
  display: none;
  color: #FF0000;
  font-size: 1.2em;
}